/* src/components/Journal/journal.css */
.journal-container {
    background-color: #f4f1e7;
    width: 70%;
    height: 85vh;
    margin: 7.5vh auto;  /* Adjusted for center alignment */
    padding: 20px;  /* Adequate padding */
    border-radius: 12px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
    border: 1px solid #decba4;
    position: relative;  /* Ensure relative positioning for absolute children */
}
